<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Project Header File</title>
    <link rel="stylesheet" href="/Mini-Project-1-RK/public/styles.css">
</head>
<body>
    <div class="top">
        <h1>Welcome to the new and improved blogging website!</h1>
    </div>
    <div class="nav">
        <nav>
            <ul>
                <li class="webnav">Website Navigation</li>
                <li><a href="/" class="home">Home Page</a></li>
                <li><a href="/create" class="bcreate">Create a Blogpost</a></li>
                <li><a href="/signup" class="bcreate">Sign Up Here</a></li>
                <li><a href="/signin" class="bcreate">Sign in Here</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
